In [5]:
import pandas as pd
import numpy as np

In [6]:
TEAMS = {"MIBR": 0, 
         "Leviatan": 1, 
         "Sentinels": 2, 
         "NRG Esports": 3, 
         "FURIA": 4, 
         "100 Thieves": 5, 
         "LOUD" : 6, 
         "Evil Geniuses" : 7, 
         "G2 Esports" : 8, 
         "Cloud9" : 9, 
         "KRÃœ Esports" : 10, 
         "Titan Esports Club" : 11, 
         "JDG Esports" : 12, 
         "All Gamers" : 13, 
         "TYLOO" : 14, 
         "Bilibili Gaming" : 15, 
         "Wolves Esports" : 16, 
         "Dragon Ranger Gaming" : 17, 
         "Nova Esports" : 18, 
         "FunPlus Phoenix" : 19, 
         "Trace Esports" : 20, 
         "EDward Gaming" : 21, 
         "ZETA DIVISION" : 22, 
         "DRX" : 23, 
         "Team Secret" : 24, 
         "BLEED" : 25, 
         "T1" : 26, 
         "Gen.G" : 27, 
         "Paper Rex" : 28, 
         "Talon Esports" : 29, 
         "Rex Regum Qeon" : 30, 
         "DetonatioN FocusMe" : 31, 
         "Global Esports" : 32, 
         "FUT Esports" : 33, 
         "KOI" : 34, 
         "BBL Esports" : 35, 
         "FNATIC" : 36, 
         "Team Heretics" : 37, 
         "Natus Vincere" : 38, 
         "GIANTX" : 39, 
         "Gentle Mates" : 40, 
         "Team Vitality" : 41, 
         "Team Liquid" : 42, 
         "Karmine Corp": 43}

MAPS = {"Bind" : 0, 
        "Haven" : 1, 
        "Split" : 2, 
        "Ascent" : 3,
        "Icebox" : 4, 
        "Breeze" : 5, 
        "Fracture" : 6, 
        "Abyss" : 7, 
        "Lotus" : 8, 
        "Sunset" : 9, 
        "Pearl" : 10}

In [7]:
data = pd.read_csv("Dataset/maps_scores.csv")
data = data[["Map", "Team A", "Team B", "Team A Score", "Team B Score"]]
data["Team A Delta"] = data["Team A Score"] - data["Team B Score"]
data["Team B Delta"] = data["Team B Score"] - data["Team A Score"]
data.loc[data["Team A Delta"] < 0, "Team A Win Chance"] = 0
data.loc[data["Team A Delta"] > 0, "Team A Win Chance"] = 100
data

,Map,Team A,Team B,Team A Score,Team B Score,Team A Delta,Team B Delta,Team A Win Chance
0,Ascent,MIBR,Leviatán,9,13,-4,4,0.0
1,Icebox,MIBR,Leviatán,7,13,-6,6,0.0
2,Lotus,Sentinels,NRG Esports,13,8,5,-5,100.0
3,Sunset,Sentinels,NRG Esports,14,12,2,-2,100.0
4,Icebox,FURIA,100 Thieves,14,12,2,-2,100.0
...,...,...,...,...,...,...,...,...
1013,Lotus,DRX,Gen.G,8,13,-5,5,0.0
1014,Ascent,Paper Rex,Gen.G,5,13,-8,8,0.0
1015,Split,Paper Rex,Gen.G,13,4,9,-9,100.0
1016,Lotus,Paper Rex,Gen.G,11,13,-2,2,0.0
1017,Bind,Paper Rex,Gen.G,4,13,-9,9,0.0

In [11]:
ACS = pd.read_csv("Dataset/overview.csv")
ACS = ACS[["Match Type", "Map", "Match Name", "Team", "Average Combat Score"]]
ACS.groupby("Team")['Average Combat Score']

        Match Type     Map          Match Name   Team  Average Combat Score
0           Week 1  Ascent    MIBR vs Leviatán   MIBR                   251
1           Week 1  Ascent    MIBR vs Leviatán   MIBR                   224
2           Week 1  Ascent    MIBR vs Leviatán   MIBR                   170
3           Week 1  Ascent    MIBR vs Leviatán   MIBR                   159
4           Week 1  Ascent    MIBR vs Leviatán   MIBR                   148
...            ...     ...                 ...    ...                   ...
10175  Grand Final    Bind  Paper Rex vs Gen.G  Gen.G                   291
10176  Grand Final    Bind  Paper Rex vs Gen.G  Gen.G                   269
10177  Grand Final    Bind  Paper Rex vs Gen.G  Gen.G                   217
10178  Grand Final    Bind  Paper Rex vs Gen.G  Gen.G                   196
10179  Grand Final    Bind  Paper Rex vs Gen.G  Gen.G                   147

[10180 rows x 5 columns]

In [15]:
TeamAcs = ACS.groupby(["Team", "Map"])['Average Combat Score'].mean().reset_index()
TeamAcs

              Team     Map  Average Combat Score
0      100 Thieves   Abyss            200.400000
1      100 Thieves  Ascent            219.828571
2      100 Thieves    Bind            207.342857
3      100 Thieves  Breeze            226.666667
4      100 Thieves   Haven            197.266667
..             ...     ...                   ...
346  ZETA DIVISION   Haven            209.400000
347  ZETA DIVISION  Icebox            183.900000
348  ZETA DIVISION   Lotus            192.914286
349  ZETA DIVISION   Split            171.800000
350  ZETA DIVISION  Sunset            198.511111

[351 rows x 3 columns]

In [19]:
merged_data = data.merge(TeamAcs, left_on=["Team A", "Map"], right_on=["Team", "Map"], how="left")
merged_data = merged_data.merge(TeamAcs, left_on=["Team B", "Map"], right_on=["Team", "Map"], how="left")
merged_data

,Map,Team A,Team B,Team A Score,Team B Score,Team A Delta,Team B Delta,Team A Win Chance,Team,Average Combat Score
0,Ascent,MIBR,Leviatán,9,13,-4,4,0.0,Leviatán,214.085714
1,Icebox,MIBR,Leviatán,7,13,-6,6,0.0,Leviatán,215.240000
2,Lotus,Sentinels,NRG Esports,13,8,5,-5,100.0,NRG Esports,185.400000
3,Sunset,Sentinels,NRG Esports,14,12,2,-2,100.0,NRG Esports,196.675000
4,Icebox,FURIA,100 Thieves,14,12,2,-2,100.0,100 Thieves,206.880000
...,...,...,...,...,...,...,...,...,...,...
1013,Lotus,DRX,Gen.G,8,13,-5,5,0.0,Gen.G,209.428571
1014,Ascent,Paper Rex,Gen.G,5,13,-8,8,0.0,Gen.G,206.682353
1015,Split,Paper Rex,Gen.G,13,4,9,-9,100.0,Gen.G,194.928571
1016,Lotus,Paper Rex,Gen.G,11,13,-2,2,0.0,Gen.G,209.428571
1017,Bind,Paper Rex,Gen.G,4,13,-9,9,0.0,Gen.G,203.333333